<%- include('partials/header.ejs') %>
    <!-- main content -->
    <main>
        <!-- main info -->
         <div>
            <!-- name and coin img -->
            <div>
                <img src="<%= logoURL %>" alt="coin img">
                <!-- coin name -->
                <h1><%= name %></h1>
            </div>
            <!-- info -->
            <div>
                <!-- symbol -->
                <h2>Symbol</h2>
                <p><%= symbol %></p>
                <!-- coin description -->
                <p>
                    <%= description %>
                </p> 
                <!-- coin rank -->
                <h2>Rank</h2>
                <p>#<%= rank %></p>
            </div>
         </div>
        <!-- end main info  -->

        <!-- proof info -->
        <div>
            <h2>Proof type</h2>
            <p><%= proofType %></p>
             <!-- Algorithm -->
            <h2>Has Algorithm</h2>
            <p><%= hashAlgorithm %></p>
        </div>
        <!-- team -->
        <div>
            <h2>Team</h2>
            <ul>
                <% team.forEach((member)=>{ %>
                    <li><%= member.name  %>, <%= member.position %></li>
                <% }) %>
            </ul>
        </div>
        <!-- whitepaper -->
        <div>
            <h2>Whitepaper</h2>
            <a href="<%= whitePaperLink %>">
                <p>Dowload PDF</p>
            </a>
        </div>

        <!-- background -->
        <img src="<%= logoURL %>" alt="coin img"> 
    </main>
    <!-- end main content -->
<%- include('partials/footer.ejs') %>